/*
 * ------------------------------------------------------
 *  Based on the nf-core/rnaseq Nextflow base config file
 * ------------------------------------------------------
 */

executor = "pbspro"
conda.createTimeout = '1h'

process {

  queue = 'sgp'

  // Process-specific resource requirements
  withLabel: low_memory {
    cpus = 1
    memory = 4.GB
    time = 4.h
  }
  withLabel: mid_memory {
    cpus = 1
    memory = 16.GB
    time = 8.h
  }
  withLabel: high_memory {
    cpus = 12
    memory = 64.GB
    time = 8.h
  }

  withName: stringtieFPKM {
    cpus = 1
    memory = 8.GB
    time = 4.h
  }
  withName: makeBED12 {
    cpus = 1
    memory = 16.GB
    time = 2.h
  }
  withName: fastqc {
    cpus = 4
    memory = 7.GB
    time = 16.h
  }
  withName: makeHISATindex {
    cpus = 10
    memory = 256.GB
    time = 5.h
  }
  withName: trim_galore {
    cpus = 2
    memory = 16.GB
    time = 16.h
  }
  withName: sortmerna {
    cpus = 16
    memory = 32.GB
    time = 24.h
  }
  withName: salmon_tximport {
    cpus = 2
    memory = 32.GB
    time = 4.h
  }
  withName: salmon_tx2gene {
    cpus = 1
    memory = 16.GB
    time = 4.h
  }
  withName: featureCounts {
    cpus = 1
    memory = 16.GB
    time = 4.h
  }
  withName: markDuplicates {
    // Actually the -Xmx value should be kept lower,
    // and is set through the markdup_java_options
    cpus = 1
    memory = 64.GB
    time = 24.h
  }
  withName: qualimap {
    cpus = 1
    memory = 16.GB
    time = 4.h
  }
  withName: rseqc {
    cpus = 1
    memory = 64.GB
    time = 16.h
  }
  withLabel: salmon {
    cpus = 8
    memory = 32.GB
    time = 4.h
  }
  withName: star {
    cpus = 12
    memory = 96.GB
    time = 16.h
  }
  withName: 'get_software_versions' {
    cpus = 1
    memory = 2.GB
    time = 1.h
    cache = false
  }
  withName: 'multiqc' {
    cpus = 1
    memory = 4.GB
    time = 1.h
    cache = false
  }
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 4096.GB
  max_cpus = 400
  max_time = 240.h
  igenomes_base = 's3://ngi-igenomes/igenomes/'
}
